# Flask
simplejson == 3.8.2
engineio == 1.8.2
python-socketio == 1.5.0
flask-socketio == 2.7.0

# unit testing
pytest == 2.9.2

# gevent for web socket support
gevent == 1.1.1
gevent-websocket == 0.9.5

# mysql
mysql == 0.0.1
