<!DOCTYPE html>
<html>
	<head>
        <title>Dillsapp</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/app.css">
        <link rel="stylesheet" type="text/css" href="/static/js/directives/room-display/room-display.css">
        <link rel="stylesheet" type="text/css" href="/static/js/directives/chat/chat.css">

		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="static/lib/js-cookie/js-cookie.js"></script>
        <script src="static/lib/jquery-popup/jquery.popupoverlay.js"></script>

		<script src="/static/js/app.js"></script>
        <script src="/static/js/models.js"></script>
        <script src="/static/js/directives/room-display/room-display.js"></script>
        <script src="/static/js/directives/chat/chat.js"></script>
	</head>
	<body ng-app="dillsapp" ng-controller="dillsappApplication">
        <div class="left-panel">
            <dillsapp-room-display></dillsapp-room-display>
            <dillsapp-chat></dillsapp-chat>
        </div>
        <div class="right-panel"><!-- floating bar on right with users display --></div>
	</body>
</html>